.m_all {
    width: 100%;
   display: flex;
   padding: 50px;
   /* background-image: linear-gradient(black, rgb(97, 9, 13)); */
    /* background-color: rgba(8, 8, 102, 0.541); */
}
/* 
*{
    background-color: ;
} */
